<h1>My Books</h1>
<%= link_to "New Book", new_book_path %>
<div class="book-list">
<% @books.each do |book| %>   
    <div>
          <h2><%= book.title %></h2>
          <h3><%= book.author %></h3>
        <a href="/books/<%= book.id %>">
          Details >
        </a>
    </div> 
  <% end %>
</div>
